<!DOCTYPE html> 
<html>
  <head>
    <title>Planning Shark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <!-- JS -->
    <script src="vendor/jquery.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/jquery.cookie.js"></script>
    <script src="vendor/jquery-ui.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
    <script src="js/dist/planningshark.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- end of JS -->
  </head>
  <style>
    body {
        padding-top: 50px;
    }
</style>
  <body ng-app="planningShark">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Planning Shark</a>
        </div>
      </div>
    </div>
    <div class="container" ng-view>
    </div>
  </body>
</html>