<div>
	<p>
		{{currentUser.name}} voted: {{currentUser.vote}}.
	</p>
	<div class="btn-group">
	    <button ng-click="vote(card)" ng-repeat="card in cards">{{card}}</button>
	</div>
	<p>
		send this link so that others can <a href="#/join/{{channelId}}" >Join the planning</a>
	</p>
	<p>
		<button ng-show="isMaster" class="btn btn-primary" ng-click='toggleVotes()'>Toggle vote visibility</button>
		<button ng-show="isMaster" class="btn btn-primary" ng-click='resetVotes()'>Reset</button>
	</p>
	<table class="table table-striped table-condensed table-bordered" style="width:50%">
	<thead>
		<th>
			participant
		</th>
		<th>
			vote
		</th>
	</thead>
		<tr ng-repeat="user in users | orderBy: user.vote:reverse">
			<td >{{user.name}}</td> 
			<td>
				<!-- Different states that the participant can be in. !-->
				<span ng-show='revealed' class="badge badge-info">{{user.vote}}</span>
				<span ng-show="(user.vote != null && !revealed)" class="badge">voted</span>
				<span ng-show="(user.vote == null)" class="badge badge-inverse">joined</span>
			</td>
		</tr>
	</table>
</div>