<div class="row">
    <div class="col-md-8">
        <form ng-submit="join()">
            <br>
            <fieldset>
                <div class="input-group roomform">
                    <input name="userName" ng-model="userName"  required placeholder="who are you today?" class="form-control" >
                    <input type="hidden" name="roomName" ng-model="roomName" />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">Join!</button>
                    </span>
                </div>
				<input type="radio" ng-model="deckName" value="a">0, 1/2, 1, 2, 3, 5, 8, 13, 20, 40, 100, ?, caffeine<br/>
				<input type="radio" ng-model="deckName" value="b"> 0, 1, 2, 4, 8, 16, 32, 64, 128, ?<br/>
            </fieldset>
            <div ng-show="openSessions">
              <p>
                <span>or perhaps you want to re-join an earlier session:</span>
              </p>
              <ul >
                <li ng-repeat="session in openSessions">
                  <a ng-href="#{{session.path}}">session from {{session.joinDate | date : 'EEEE, MMMM d @ h:mm a'}}</a>
                  <i class="icon-remove" ng-click="delete(session)"></i>
                </li>
              </ul>
            </div>
        </form>
    </div>
</div>
