<div class="row">
  <div class="col-md-8">
    <h4>
      Participating as {{currentUser.name}}:
    </h4>
    <div class="btn-group">
      <button type="button" ng-click="vote(card)" class="btn btn-default" ng-class="{'btn-primary' : currentUser.vote == card}" ng-repeat="card in deck">{{card}}</button>
    </div>
  </div>
  <div class="col-md-8">
      <h4>Participant list:</h4>
    <table class="table table-striped table-bordered table-responsive" >
      <thead>
        <th>
          participant
        </th>
        <th>
          vote
        </th>
        <th>
          action
        </th>
      </thead>
      <tbody>
          <tr ng-repeat="user in users | orderBy: user.vote:reverse">
            <td >
              {{user.name}}
            </td> 
            <td>
              <!-- Different states that the participant can be in. !-->
              <span ng-show='voteRevealed()'>{{user.vote}}</span>
              <span ng-show="(user.vote != null && !voteRevealed())">voted</span>
              <span ng-show="(user.vote == null)">joined</span>
            </td>
            <td>
              <div class="btn-group">
                <button ng-show="(isMaster && user.name != currentUser.name)" type="button" class="btn btn-default" ng-click="command('kick', user)">kick</button>
                <button ng-show="(isMaster && user.name != currentUser.name)" type="button" class="btn btn-default" ng-click="command('nudge', user)">nudge</button>
                <button ng-show="(user.name != currentUser.name)" type="button" class="btn btn-default" ng-click="command('message', user, currentUser.name)">msg</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <div ng-show='voteRevealed() && voteCounts()'>
      <h4>vote summary:</h4>
      <table class="table table-striped table-condensed table-bordered" style="width:40%">
        <thead>
          <th>count</th>
          <th>vote</th>
        </thead>
        <tbody>
          <tr ng-repeat="voteCount in voteCounts() | orderBy:'count':true" ng-show="voteCount.vote">
            <td>
              <span>{{voteCount.count}}</span>
            </td>
            <td>
              <span >{{voteCount.vote}}<span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button ng-show="(isMaster)" class="btn btn-primary" ng-click="command('subject')">subject</button>
      <button ng-show="(subjectIsSet())" class="btn btn-primary" ng-click="command('remind')">remind</button>
      <button ng-show="(isMaster)" class="btn btn-primary" ng-click="command('messageall', user, currentUser.name)">message</button>
      <button ng-show="(isMaster && !voteRevealed())" class="btn btn-primary" ng-click="updateVoteVisibility(true)">reveal</button>
      <button ng-show="(isMaster && voteRevealed())" class="btn btn-primary" ng-click="updateVoteVisibility(false)">hide</button>
      <button ng-show="isMaster" class="btn btn-default" ng-click="resetVotes()">reset</button>
      <p>
        send this link so that others can <a target="_blank" href="#/join/{{roomName}}" >join the planning</a>
      </p>
    </div>
  </div>
</div>
<div id="dialog"></div>